.snt-button {
  --height: var(--snt-button-and-input-height);
  --padding: 8px 24px;
  --padding-small: 8px 12px;
  --padding-large: 12px 48px;

  display: inline-block;
  width: fit-content;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1.5px solid transparent;
  padding: var(--padding);
  font-size: 16px;
  line-height: 1.5;
  border-radius: 2px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.15s;
  transition-property: color, background-color, border-color, box-shadow,
    opacity;
  opacity: 1;

  &[disabled] {
    opacity: 0.66 !important;
    cursor: default !important;
    pointer-events: none !important;
  }
}

.snt-button-type-default,
.snt-button-type-outline {
  // height: var(--height);
  min-height: var(--height);
  box-shadow: 0 0 4px #0004;
}

.snt-button-small {
  padding: var(--padding-small);
}
.snt-button-large {
  padding: var(--padding-large);
}
.snt-button-expand {
  width: 100%;
}
