$snt-base-colors: (
  "color-primary": #4267b2,
  "color-secondary": #fdb73b,
  "color-ternary": #76bfc2,
  "color-success": #6cb76f,
  "color-error": #da5552,
  "color-white": #fff,
  "color-light": #fafafa,
  "color-muted": #dcdcdc,
  "color-grey": #b0b0b0,
  "color-dark": #212121,
  "color-black": #000,
  "color-transparent": #0000,
);
$snt-on-colors: (
  "color-on-primary": white,
  "color-on-secondary": black,
  "color-on-ternary": black,
  "color-on-success": black,
  "color-on-error": black,
  "color-on-white": black,
  "color-on-light": black,
  "color-on-muted": black,
  "color-on-grey": black,
  "color-on-dark": black,
  "color-on-black": black,
  "color-on-transparent": black,
);

$snt-color-variants: (
  white: (
    "light": 15%,
    "lighter": 20%,
    "lightest": 75%,
  ),
  black: (
    "dark": 10%,
    "darker": 15%,
    "darkest": 75%,
  ),
);

:root {
  @include generate-css-variables(
    generate-color-variants($snt-base-colors, $snt-color-variants)
  );
  @include generate-css-variables($snt-on-colors);
}
