html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  height: 100%;
  line-height: 1.5;
}
body {
  height: 100%;
  margin: 0;
}
a {
  color: inherit;
  outline: none;
  text-decoration: none;
}
p {
  margin: 0;
  overflow-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.25;
}
code,
kbd,
samp,
pre {
  margin: 0;
  font-size: 0.8rem;
  font-family: monospace, monospace;
}
sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.2em;
}
sup {
  top: -0.5em;
}
img {
  object-position: center;
  vertical-align: bottom;
}
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
fieldset {
  // border: none;
  // margin: 0;
  // padding: 0;
}
legend {
  // padding: 0;
}
label {
  display: block;
}
textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}
input,
select,
textarea,
button {
  background: #f4f4f4;
  border-style: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  line-height: normal;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 0;
  text-transform: none;
  transition: all 0.2s ease-in-out;
}
fieldset[disabled] input,
fieldset[disabled] select,
fieldset[disabled] textarea,
fieldset[disabled] button,
input[disabled],
select[disabled],
textarea[disabled],
button[disabled] {
  background: #e4e4e4 !important;
  cursor: initial !important;
  color: #888 !important;
}

// THIS OPTIONAL?
// input,
// select,
// textarea {
//   // width: 100%;
// }

// ANOTHER ONE
// button,
// [type="checkbox"],
// [type="radio"],
// label {
//   cursor: pointer;
// }

// HOVER STYLES
// @media (hover: hover) {
//   input:focus,
//   select:focus,
//   textarea:focus,
//   button:focus {
//     background-color: #e8e8e8;
//   }
// }

*,
*::before,
*::after {
  box-sizing: border-box;
}
*[tabindex] {
  outline: none;
}

// OTHER INPUT NORMALIZATIONS; test
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
[type="checkbox"],
[type="radio"] {
  padding: 0;
}
textarea {
  overflow: auto;
}
progress {
  vertical-align: baseline;
}
