html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  height: 100%;
  line-height: 1.5;
}
body {
  height: 100%;
  margin: 0;
}
a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.15s ease-in-out;
  &:hover {
    color: #0056b3;
  }
}
p {
  margin: 0;
  overflow-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.25;
}
code,
kbd,
samp,
pre {
  margin: 0;
  font-size: 0.8rem;
  font-family: monospace, monospace;
}
sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.2em;
}
sup {
  top: -0.5em;
}
img {
  object-position: center;
  vertical-align: bottom;
}
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
button,
[type="checkbox"],
[type="radio"],
label {
  cursor: pointer;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  // text-align: inherit;
}
fieldset {
  border-width: 1px;
  display: block;
  padding: 0;
  margin: 0;
}
:not(fieldset) > legend {
  padding: 0;
}
label {
  display: block;
}
textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}
input[type="checkbox"],
input[type="radio"],
input[type="range"] {
  margin: 0;
  padding: 0;
}
input,
select,
textarea {
  background: #f4f4f4;
  border-style: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  text-transform: none;
  outline: none;
}
fieldset[disabled] input,
fieldset[disabled] select,
fieldset[disabled] textarea,
fieldset[disabled] button,
a[disabled],
button[disabled],
input[disabled],
select[disabled],
textarea[disabled] {
  cursor: default !important;
  pointer-events: none !important;
}
