// SntButton component styles

.snt-button-base {
  --snt-button-border-width: 1.5px;
  --snt-button-border-radius: 2px;
  --snt-button-padding: 6px 12px;
  --snt-button-large-padding: 12px 24px;

  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: var(--snt-button-border-width) solid transparent;
  padding: var(--snt-button-padding);
  font-size: 16px;
  line-height: 1.5;
  border-radius: var(--snt-button-border-radius);
  transition-timing-function: ease-in-out;
  transition-duration: 0.15s;
  transition-property: color, background-color, border-color, box-shadow,
    opacity;
  opacity: 1;
}
.snt-button-default,
.snt-button-outline {
  --snt-button-height: 55px;

  min-height: var(--snt-button-height);
  box-shadow: 0 0 4px #0008;
}
.snt-button-base[disabled] {
  opacity: 0.66 !important;
  cursor: default !important;
  pointer-events: none !important;
}
