.snt-card {
  padding: 16px;
  background: var(--snt-color-primary-max-light);
  border: 1px solid;
  border-color: var(--snt-color-primary-lightest);
  border-radius: 8px;
  box-shadow: 0 0 8px #00000011;
}
