%snt-container-base {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.snt-container-s {
  @extend %snt-container-base;
  max-width: 400px;
}

.snt-container-m {
  @extend %snt-container-base;
  max-width: 600px;
}

.snt-container-l {
  @extend %snt-container-base;
  max-width: 800px;
}

.snt-container-xl {
  @extend %snt-container-base;
  max-width: 1200px;
}

.snt-container-expand {
  @extend %snt-container-base;
  max-width: initial;
}

.container {
  padding: 1rem;
}

.snt-card {
  padding: 1rem;
  background: var(--snt-color-primary-max-light);
  border: 1px solid;
  border-color: var(--snt-color-primary-lightest);
  border-radius: 8px;
  box-shadow: 0 0 8px #00000011;
}

.snt-grid {
  --gap: 0.5rem;
  display: grid;
  align-content: flex-start;
  gap: var(--gap);
}
.snt-grid-fill {
  --width: 200px;
  --gap: 0.5rem;
  display: grid;
  align-content: flex-start;
  grid-template-columns: repeat(auto-fill, minmax(var(--width), 1fr));
  gap: var(--gap);
}
.snt-flex {
  --gap: 0.5rem;
  display: flex;
  align-items: center;
  & > * + * {
    margin-left: var(--gap);
  }
}
.snt-flex-wrap {
  --gap: 0.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--gap));
  margin-bottom: calc(-1 * var(--gap));
  & > * {
    margin-left: var(--gap);
    margin-bottom: var(--gap);
  }
}
