%snt-container-base {
  --snt-container-padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: var(--snt-container-padding);
  padding-right: var(--snt-container-padding);
}

.snt-container-s {
  @extend %snt-container-base;
  max-width: 400px;
}

.snt-container-m {
  @extend %snt-container-base;
  max-width: 600px;
}

.snt-container-l {
  @extend %snt-container-base;
  max-width: 800px;
}

.snt-container-xl {
  @extend %snt-container-base;
  max-width: 1200px;
}

.snt-container-expand {
  @extend %snt-container-base;
  max-width: initial;
}
