.container {
  padding: 1rem;
}

@each $key, $value in get("container") {
  .container-#{$key} {
    padding-left: var(--el-container-padding-horizontal);
    padding-right: var(--el-container-padding-horizontal);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: $value;
  }
}
.grid-fill {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--el-grid-fill), 1fr));
  gap: var(--el-grid-fill-gap);
}
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.align-items {
  align-items: center;
}
.align-content {
  align-content: center;
}
.justify-items {
  justify-items: center;
}
.justify-content {
  justify-content: center;
}
.fw {
  width: 100%;
}
.fh {
  height: 100%;
}
