.bold {
  font-weight: bold;
}
.thin {
  font-weight: lighter;
}
.underline {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}

@font-face {
  font-family: SpaceMono;
  src: url("~@/assets/fonts/SpaceMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.font-mono {
  font-family: SpaceMono;
}
