:root {
  --snt-inputfield-label-block-margin: 2px;
  --snt-inputfield-label-inline-margin: 4px;
}

// input styles
input:not([type="checkbox"]):not([type="radio"]):not([type="range"]),
select,
textarea {
  min-height: 55px;
  padding: 6px 12px;
  border: 1px solid var(--snt-color-muted);
  &:focus {
    border: 1px solid var(--snt-color-grey);
  }
}

// datepicker styles
.dp__menu {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.dp__arrow_top {
  display: none;
}
