:root {
  --snt-font-global-scale: 1;
  --snt-font-scale-factor: 1.25;
  --snt-font-base-size: calc(16px * var(--snt-font-global-scale));

  @include snt-s-only {
    --snt-font-global-scale: 0.8;
  }

  --snt-f: var(--snt-font-base-size);
  --snt-f1: var(--snt-f);
  --snt-f2: calc(var(--snt-font-base-size) * var(--snt-font-scale-factor));
  --snt-f3: calc(
    var(--snt-font-base-size) * var(--snt-font-scale-factor) *
      var(--snt-font-scale-factor)
  );
  --snt-f4: calc(
    var(--snt-font-base-size) * var(--snt-font-scale-factor) *
      var(--snt-font-scale-factor) * var(--snt-font-scale-factor)
  );
  --snt-f5: calc(
    var(--snt-font-base-size) * var(--snt-font-scale-factor) *
      var(--snt-font-scale-factor) * var(--snt-font-scale-factor) *
      var(--snt-font-scale-factor)
  );
  --snt-f6: calc(
    var(--snt-font-base-size) * var(--snt-font-scale-factor) *
      var(--snt-font-scale-factor) * var(--snt-font-scale-factor) *
      var(--snt-font-scale-factor) * var(--snt-font-scale-factor)
  );

  --snt-fs: calc(var(--snt-font-base-size) / var(--snt-font-scale-factor));
  --snt-fs-1: var(--snt-fs);
  --snt-fs-2: calc(
    var(--snt-font-base-size) / var(--snt-font-scale-factor) /
      var(--snt-font-scale-factor)
  );
  --snt-fs-3: calc(
    var(--snt-font-base-size) / var(--snt-font-scale-factor) /
      var(--snt-font-scale-factor) / var(--snt-font-scale-factor)
  );
}

// font faces

@font-face {
  font-family: SpaceMono;
  src: url("~@/assets/fonts/SpaceMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.snt-font-mono {
  font-family: SpaceMono;
}

// font sizes
.snt-f,
.snt-f1 {
  font-size: var(--snt-f1);
}
.snt-f2 {
  font-size: var(--snt-f2);
}
.snt-f3 {
  font-size: var(--snt-f3);
}
.snt-f4 {
  font-size: var(--snt-f4);
}
.snt-f5 {
  font-size: var(--snt-f5);
}
.snt-f6 {
  font-size: var(--snt-f6);
}
.snt-fs,
.snt-fs1 {
  font-size: var(--snt-fs1);
}
.snt-fs2 {
  font-size: var(--snt-fs2);
}
.snt-fs3 {
  font-size: var(--snt-fs3);
}
