@mixin generate-css-variables($map, $parent-key: "") {
  @each $key, $value in $map {
    $current-key: "";
    @if $parent-key == "" {
      $current-key: $key;
    } @else {
      $current-key: #{$parent-key}-#{$key};
    }
    @if type-of($value) == "map" {
      @include generate-css-variables($value, $current-key);
    } @else {
      --snt-#{$current-key}: #{$value};
    }
  }
}
