$base-color: (
  "primary": #4267b2,
  "secondary": #fdb73b,
  "ternary": #76bfc2,
  "success": #6cb76f,
  "error": #da5552,
  "white": #fff,
  "light": #fafafa,
  "muted": #dcdcdc,
  "grey": #b0b0b0,
  "dark": #212121,
  "black": #000,
  "transparent": #0000,
);

$color-variants: (
  white: (
    "light": 15%,
    "lighter": 20%,
    "lightest": 75%,
  ),
  black: (
    "dark": 10%,
    "darker": 15%,
    "darkest": 75%,
  ),
);

$color: generate-colors($base-color, $color-variants);
