@mixin snt-touch-device {
  @media (hover: none) {
    @content;
  }
}
@mixin snt-point-device {
  @media (hover: hover) {
    @content;
  }
}

@mixin snt-transition($transition-property-value) {
  &-enter-from,
  &-leave-to {
    @content;
  }
  &-enter-active,
  &-leave-active {
    transition: $transition-property-value;
  }
}

@mixin snt-animate-underline() {
  position: relative;
  &::after {
    background: currentColor;
    bottom: 0px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transition: width 0.2s ease-in-out;
    width: 0;
  }
  @media (hover: hover) {
    &:hover::after {
      width: 100%;
    }
  }
  &.router-link-exact-active::after {
    width: 100%;
  }
}

@mixin snt-s-only() {
  @media (min-width: get("breakpoint.s")) and (max-width: calc(get("breakpoint.m") - 1px)) {
    @content;
  }
}
@mixin snt-m() {
  @media (min-width: get("breakpoint.m")) {
    @content;
  }
}
@mixin snt-m-only() {
  @media (min-width: get("breakpoint.m")) and (max-width: calc(get("breakpoint.l") - 1px)) {
    @content;
  }
}
@mixin snt-l() {
  @media (min-width: get("breakpoint.l")) {
    @content;
  }
}
@mixin snt-l-only() {
  @media (min-width: get("breakpoint.l")) and (max-width: calc(get("breakpoint.xl") - 1px)) {
    @content;
  }
}
@mixin snt-xl() {
  @media (min-width: get("breakpoint.xl")) {
    @content;
  }
}
